<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <div class="media-body">
        <h2 class="media-heading">Welcome, <%= @user.email %>!</h2>
      </div>
    </div>
  </div>
</div>
<h3>Create a new Item</h3>
<%= render partial: "items/form", locals: { user: @user, item: Item.new } %>
<br>
<h3>Pending Items</h3>
<%= render partial: "items/item", locals: { user: @user, item: @item } %>
