<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Blocitoff is the best to-do list to help you stay on task!</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Headline 1</h2>
    <p>Example text block number 1.</p>
  </div>
  <div class="col-md-4">
    <h2>Headline 2</h2>
    <p>Example text block number 2.</p>
  </div>
  <div class="col-md-4">
    <h2>Headline 3</h2>
    <p>Example text block number 3.</p>
  </div>
</div>
