<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Blocitoff is the best to-do list to help you stay on task!</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Keep Track of Your Tasks!</h2>
    <p>Create as many to-do items as you need, there's no limit.</p>
  </div>
  <div class="col-md-4">
    <h2>Check It Off!</h2>
    <p>Completed a task? No problem! Just mark it as done.</p>
  </div>
  <div class="col-md-4">
    <h2>Love to Procrastinate?</h2>
    <p>Your to-do items will self-destruct after 7 days, so if you need to stay on track, this will help you beat that procrastination!</p>
  </div>
</div>
