<div class="row">
  <div class="col-md-8">
    <% @user.items.each do |item| %>
      <% content_tag :div, class: 'media', id: "#{item.id}"%>
        <font size="4.5"><%= item.name %></font><%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    <br>
    <% end %>
  </div>
</div>
