<div class="row">
  <div class="col-md-8">
    <% @items.each do |item| %>
      <%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
        <font size="4.5"><%= item.name %></font><%= link_to "", item, class: 'glyphicon glyphicon-ok', method: :delete, remote: true %>
      <% end %>
    <% end %>
  </div>
</div>
