<div class="row">
  <div class="col-md-8">
      <div class='media', id="item-<%= item.id %>">
        <font size="4.5"><%= item.name %></font><%= link_to "", item, class: 'glyphicon glyphicon-ok', method: :delete %>
      </div>
  </div>
</div>
